@import "/src/dist/scss/variable";

section{
  width: 100%;
  min-height: 250px;
  text-align: center;

  background: $secondary-background-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);

  margin-top: 20px;

  img{
    padding: 5px;
    margin: 20px 0;
  }

  ul{
    padding: 20px;

    li{
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-height: 2em;

      input{
        &[type="checkbox"]{
          width: 5%;
        }
        &[type="text"]{
          width: 80%;
          padding: 5px 10px;
          border: none;

          font-size: 16px;
          color: $primary-text-color;
          &.checked{
            text-decoration: line-through;
          }
        }
      }

      button{
        width: 5%;
        background: none;
        border: none;
      }
    }
  }
}
